
@import '../../styles/variables.scss';

.icon {
  color: $white;
  transition: all .2s ease-in-out;
  width: 40px;
  &:hover {
    color: $primary;
  }
}

.opener {
  border: none;
  &:active, &:focus, &:hover {
    box-shadow: none;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  justify-content: left;
  z-index: 100;

  .iconPart {
    display: flex;
    cursor: pointer;

    width: 120px;
    justify-content: space-between;

    .linkIcon {
      
      padding: 0;
      display: flex;
      align-items: center;
    }
  }

  .accountPart {
    display: flex;
  }
}


.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;

  .imgContainer {
    position: absolute;
    bottom: 10px;
    width: 110px;
    height: 110px;
  }
  img {
    width:100%;
    height: 100%;
  }
}

.buttonLink {
  margin: 5px 0;
}