@import '../../styles/variables.scss';

.formContainer {
  color: white;
  padding-top: 40px;
  max-width: 700px;
  
  
  
  .subcontainer {
    margin-top: 120px;
    border: 2px solid $primary;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    padding: 60px;
    padding-top: 20px;


    &:after {
      position: absolute;
      right: 0;
      top: 0;
      content: ' ';
      width: 15px;
      height: 100%;
      background-color: $primary;
    }

  }
  h1 {
    margin-top: 50px;
    text-transform: uppercase;
    color: $primary;
  }
  
  
}
