.container {
  padding-top: 250px;
  .row {
    
    .column {
      margin-bottom: 100px;
      text-transform: uppercase;
      text-align: center;
      color: white;
      font-family: 'Rubik Mono One', sans-serif;
      .numberContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        font-size: 60px;
        .sublabel {
          font-size: 50px;
        }
      }
      .label {
        font-size: 35px;
      }
    }
  }
}