.homePresentation {
  padding-top: 115px;
  .textPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    h1 {
      text-transform: uppercase;
      font-size: 40px;
      .big {
        font-size: 50px;
      }
    }
  
    .description {
      font-size: 22px;
      margin-bottom: 100px;
      margin-top: 12px;
      letter-spacing: 0.8px;
    }
  }
  
  .imagePart {
    
    .imageContainer {
      cursor: pointer;
      height: 655px;
      position: relative;
      border-radius: 15px;
      overflow: hidden;
      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.3);
        opacity: 0;
        transition: all .3s ease-in-out;

        h2 {
          position: absolute;
          bottom: 0;
          color: white;
          background-color: #c4c4c478;
          border-radius: 15px 15px 0 0;
          margin-bottom: 0;
          padding: 10px;
          font-size: 25px;
          width: 100%;
          span {
            font-size: 15px;
          }
        }

        
      }
      &:hover {
        .overlay {
          opacity: 1;
        }
      }
    }
  }
}