@import '../../styles/variables.scss';

.formContainer {
  padding-top: 120px;
  color: white;

  .subcontainer {
  padding: 60px;
  padding-top: 40px;
  max-width: 700px;
  border: 2px solid $primary;
  position: relative;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
  &:after {
    position: absolute;
    right: 0;
    top: 0;
    content: ' ';
    width: 15px;
    height: 100%;
    background-color: $primary;
  }
  }

  h1 {
    text-transform: uppercase;
    color: $primary;
  }
  
 
}
