@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

@import './variables';

@import '../node_modules/bootstrap';

html,
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Rozha One', serif;
  background: url('/img/background.jpg');
  background-size: auto 100%;
  background-attachment: fixed;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// no style
.card.no-style {
  border: none;
  border-radius: 0;
  .card-img-top {
    border-radius: 0;
  }
  .card-body {
    padding: 0;
  }
}

a.no-style {
  color: inherit;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}


button.btn-close {
  &:active, &:hover, &:focus {
    box-shadow: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik Mono One', sans-serif;
}