@import '../../styles/variables.scss';

.addRescuer {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 2;
}