@import '../../styles/variables.scss';

.cardRescuer {
  border: none;
  height: 100%;

  .cardBody {
    display: flex;
    flex-direction: column;
  }
  .name {
    flex-grow: 1;
  }
  .cardImage {
    height: 400px;
    object-fit: cover;
  }

  .medalRescueContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .iconTextContainer {
    display: flex;
  }

  .iconMedalContainer, .iconRescueContainer {
    width: 20px;
    height: 20px;
    position: relative;
  }

  .iconMedalContainer {
    margin-right: 5px;
  }
  .iconRescueContainer {
    margin-left: 5px;
  }
}